.footer{
    width: 100%;
    height: 645px;
    background: url("../images/footer_desktop_pattern1.png") no-repeat center;
    background-size: 100%;
    position: relative;
    /* cho box ra giữa */
    display: grid;
    justify-items: center; /* Căn giữa chiều ngang */
    align-content: center;/* Căn giữa chiều dọc */

}
.footer-content{
    width: 1230px;
    height: 552px;
    /* background-color: aqua; */
    margin-top: 60px;
    position: absolute;
    /* text-align: center; */
}
.footer-content-emailadd{
    width: 100%;
    height: 95px;
    /* background-color: bisque; */
}
.email-address{
    width: 100%;
    height: 73.5px;
    /* background-color: blue; */
}
.email-address-input{
    margin-left: 344px;
    height: 73.5px;
}
.footer-content-down{
    width: 100%;
    height: 305px;


}
.footer-copyright{
    width: 100%;
    /* background-color: blue; */
    height: 152px;
    text-align: left;
}
.a-footer{
    color: #ffffff;
    text-decoration: none;
}
